

/*----------comienza el footer -------- */

.footer_iconos a{

    display: inline-block;
   
    line-height: 32px;
   
    margin-right: 5px;
    /* text-align: center;  */
    /* transition: all 300ms ease; */
  
  
   
  }
  
  /* tamaño de los iconos del fototer y
  de las redes sociales de contactos */
  .footer_iconos a img, .redes_sociales img {
   
   width: 32px;
   height: 32px;
  
   
  
  }

  @each $name, $value in $redes {
      .red-#{$name}:hover{
            background-color: map-get($redes, #{$name});
            color: #fff;
            transition: .5;
      }


  }
  /*+++++ termina footer +++++*/
  