

/*----------comienza el footer -------- */
footer{
    min-height: 30vh;
    /*para que llegue al 
    fondo de la página siempre*/

        .footer_iconos a{
            display: inline-block;
            line-height: 32px;
            margin-right: 5px;
        }

        

        /*tamaño de los iconos del footer*/
        .footer_iconos a img{
            @extend .iconos_tamanio;   
        }


} 

    /* each para crear un hover personalizado
    sobre cada link o imagen de redes sociales */
    @each $name, $value in $redes {
    .red-#{$name}:hover{
            background-color: map-get($redes, #{$name});
            color: #fff;
            transition: .5;
        }
    }
/*+++++ termina footer +++++*/
