@media(max-width: 768px){ /*medida de tablet */
    

    .ligth-box{

        img{
            width: 80vw;
            max-height: 80vh;    
        }

        .leyenda{
            bottom: 70px;
        }
        
    }


/*medida de tabñeta*/
}