@media(max-width: 576px){ /*medida de 576px fold */


    /*cambio de tamaño del logo del nav bar */
    .logo_nav{
        max-width: 20%;
        }
    
    
        // a.nav-link:hover{
        //     color: #ff4136;
        //     transition: .4s;
        //     // background: none;
        //   }
          
        li.active_label{
            @include hover-green;
          }


    /* cambio de la pagina novedades   */
    .roti:hover{
      transform: rotate(2deg)
      scale(.9);
      transition: 0.5s;
      
     }
    /* inicio para cambiar tamaño de contacto */
    
    .form, .mapa{ /*, .redes_sociales { */
     
     
     max-width: 100%;
     border-radius: 1em; /*los bordes redondeados*/
     padding: 2.5em .5em;
    
     margin-top: 20px;
     margin-bottom: 20px;
    
    }
    
    
    
    
    
    .form_input{
      font-family: inherit; /*para que herede la fuente los inputs*/
      padding: 0.8em 1em; /*padding arriba y a los lados*/
      outline: none; /*no se va a remarcar*/
      border: none; /*saco el border*/
      border:1px solid #bbb0bb;
      border-radius: 0.2em;
    } 
    
    .form_input--message{
     
     margin-bottom: 4em; /*separado del submit*/
    }
    
    
    
    
     
     
     
    
    
    
    } /*cierre del media query 576Px */
    /*++++ termino del media query 576px ++++*/