@media(max-width: 768px){ /*medida de tablet */
    

    .ligth-box{

        img{
            width: 80vw;
            max-height: 80vh;    
        }

        .leyenda{
            bottom: 70px;
        }

        .leyenda--modified{
            bottom: 10px;
        }

        .close{
            top: 140px;
            right: 80px;
        }

        .close--modified{
            top: 30px;
            right: 250px;
        }
        
    }

    /* agrea una capa de fondo trasparente a los 
    links del menu desplegable para tener un poco
    mas de contraste en dispositivos mobiles
    and tablests */
    .nav-item{
        background-color:  rgba( 30, 30, 30, 0.8 );
    }





} /* +++++ fin medida de tableta ++++++*/