/* *****inicio de la galeria de fotos****** */
    
.galery_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
    
        a{
            display: block;
            position: relative;
            overflow:hidden;
            box-shadow: 0 0 6xp rgba(0,0,0,.5); 

                img{
                        width: 50%;
                        vertical-align: top;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.5s;
                        margin: 10px 20px 0 0;
                        box-shadow: 0 4px 8px 0
                        lightskyblue, 0 6px 20px 0 rgba(0,0,0,.19);
                        // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                        width:350px;
                    }

                    &:hover{
                        transform: scale(1.1);
                        box-shadow: 0 10px 16px 0
                        lightskyblue, 0 6px 20px 0 rgba(0,0,0,.19);
                        
                    }

                    /* .bio--modifed sobrescribe disminuyendo el scale 
                    en la galeria de la biografia
                    por ser fotos en verticales y tapar las que siguen */
                    .bio--modifed{
                        transform: scale(.9);
                    }
        }
    }


.ligth-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    transition: transform .5s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);

        img{
            width: 70vw;
            max-height: 70vh;    
        }

        /* .bio sobrescribe el tamaño en la galeria de la biografia
        por ser fotos en verticales */
        .bio{
            width: 70vw;
            max-height: 80vh;    
        }
        



        &:target{
            transform: scale(1);
            transition: transform .5s;
        }

        .close{
            display: block;
            position: absolute;
            top: 40px;
            right: 40px;
            @include glass-pink;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;

                &:hover{
                    background-color:black;
                }
            
        }
        /* modifica la posicion del botón
        close en la página de biografía */
        .close--modified{
            top: 30px;
            right: 180px;
        }

        .next{
            display: block;
            @include glass-pink;
            color: #fff;            
            font-weight: bold;
            line-height: 30px;
            width: 30px;
            height: 30px;
            text-decoration: none;
            text-align: center;

                &:hover{
                    background-color:black;
                }
        }

        



        .leyenda{
            font-family:$font-legend;
            font-weight: bold;
            display: block;
            position: absolute;
            bottom: 20px;
            color: #fff;
            border-radius: 10px;
            @include glass-pink;
            text-align: center;
            

        }
                            
}

/* ++++ fin de la pagina Galeria ++++ */