
$section-gap: 40px; /* separacion entre sections */
$font-type: "Montserrat", sans-serif;

/* variables de colores de redes */
$face: #3b5998;
$whats:#25d366;
$yout:#c4302b;
$inst:#cd279d;
$tik: #ff0050;

/*mapa de redes, inicializado para luego 
usarlo para implementar el get.map*/
$redes: (
    "facebook": $face,
    "whatsapp": $whats,
    "youtube": $yout,
    "instagram": $inst,
    "tik-tok": $tik,  
);



@mixin hover-green{
    background-color: #42B881;
    transition: .5;
}


@mixin card-contacto{
    font-family: $font-type;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* clase creada para luego realizar extend */
.iconos_tamanio{
    width: 32px;
    height: 32px; 
}
