/* google fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import "_variables";

body{
  font-family: $font-type; 
  color: white; 
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  min-height: 100vh; /*para que no desconfigure el gradient*/
} 


@import "_nav";

@import "_footer";

@import "_page-galery";


/* inicio de formato a las noticias de la seccion novedades */



/* con esta pseudo clase le doy 
animacion a las cards de novedades */
.roti:hover{

  
  transition: transform 0.5s;
  box-shadow: 0 10px 16px 0
  lightskyblue, 0 6px 20px 0 rgba(0,0,0,.19);
  
  
}


/*inicio de formato de biografía y academía*/

.section_conten{
 /* para separar el section de otros componentes */
  margin-top: $section-gap;
}

@import "_page-contacto";




/* Medium devices (tablets, 768px and up) */
@import "_media-max-768px";
/* cierre de media 768px */


@import "_media-max-576px";







