@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
 

body{
  /* background-color: #4642B8; */
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  min-height: 100vh; /*para que no desconfigurar el gradient*/
   font-family: Arial,sans-serif; 
  color: white; 
 } 
 
 
 @import "_variables";

  /*se eligió como contenedor global a la etiqueta main, para realizar
  el grid area padre*/
  // main {
  //   display: grid;
  //   grid-gap: 10px;
    
 
  //   /*especifico la ubicacion de las grid areas vista desktop*/
  //   grid-template-areas: 
  //     "header"
  //     "con1"
  //     "con2"
  //     "con3"
  //     "footer";
  //   }
  // /*se nombra las grid areas*/
 
  // header{
  //   grid-area: header;
  // }
  // .contenido1{
  //   grid-area: con1;
  // }
  // .contenido2{
  //   grid-area: con2;
  // }
  // .contenido3{
  //   grid-area: con3;
  // }
  // footer{
  //   grid-area:footer;
  // }


@import "_nav";

@import "_footer";
 
@import "page-galery";

/* inicio de formato a las noticias de la seccion novedades */



/* con esta pseudo clase le doy 
animacion a las cards de novedades */
.roti:hover{
 transform: rotate(3deg);
 transition: transform 0.5s;
//  scale(.9);
//  transition: 0.5s;
}


/*inicio de formato de biografía y academía*/

.section_conten{
 /* para separar el section de otros componentes */
 margin-top: $section-gap;
}

@import "_page-contacto";


@import "_media-max-576px";


 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
 









 } /* cierre de media 768px */

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
 
 

} /* cierre de media 992px */








