 
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
 
 body{
  /* background-color: #4642B8; */
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  min-height: 100vh; /*para que no desconfigurar el gradient*/
   font-family: Arial,sans-; 
  color: white; 
} 



  /*es como contenedor global a la etiqueta main, para realizar
  el grid area padre*/
  main {
    display: grid;
    grid-gap: 10px;

    /*especifico la ubicacion de las grid areas vista desktop*/
    grid-template-areas: 
      "header"
      "con1"
      "con2"
      "con3"
      "footer";
    }
  /*se nombra las grid areas*/

  header{
    grid-area: header;
  }
  .contenido1{
    grid-area: con1;
  }
  .contenido2{
    grid-area: con2;
  }
  .contenido3{
    grid-area: con3;
  }
  footer{
    grid-area:footer;
  }


  /* comienza el slider del index */
   /* #sliderHeader{
    margin: auto;
    background-color: white;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }
  
  #sliderHeader > ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  #sliderHeader > ul.slider{
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 300px;
  }
  
  #sliderHeader > ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
      z-index: 0;
  }
  
  #sliderHeader > ul.slider li img{
    max-width: 800px;
    width: 100%;

    height: 300px;
    object-fit: cover;
  }
  
  #sliderHeader > ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>
  }
  
  #sliderHeader > ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos
  }
  
  #sliderHeader > .menuslider li{
    display: inline-block;
    text-align: center;
  }
  
  #sliderHeader > .menuslider li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #262463;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  } 
  #sliderHeader > .menuslider{
    text-align: center; /*se alinea el menu en el centro 
    margin: 20px;
  }
    */


/* experimento para alinear las fotos del banner*/

  

/*.logoHeader__banner{
   display: inline;
  max-width: 1200px;
  width: 100%;
  height: 100%;

  
}
 */


/* se comienza el experimento en el menú de navegación */

 .menu{
  /*background-color:#000;
  color:#fff;
  height:75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;*/
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  /* box-shadow: 5px 0 10px rgba(0, 0, 0, .6); */
  padding: 0.5rem;
  margin-left: 0,5rem; 
} 

.logo_nav{
  max-width: 12%;
  /* float: right; */
}
a.active_label, a:hover{
  background-color: #42B881;
  transition: .5;
}




/* .menu_items {
  display: flex;
  list-style: none;
  margin-right: 20px;
  float: right;
} */

/* .menu_items li{
  line-height: 80px;
  
  margin: 0 5px;
  display: inline-block;
} */

 /* .nav-item{
  font-size: 2vw;
  /* padding: 7px 13px;
  text-decoration: none;
  border-radius: 3px;
  color:#fff; 
}  */
/* .btn_menu{
  font-size: 30px;
  color: white;
  float: right;
  padding: 0 15px;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  border: .3px solid white;
}


nav ul.show{
  transform: scale(1)
} */




/* experimento exitoso*/


/* para darle un tamaño mas o menos estandar a las fotos del index 
y crearles un crearles un recuadro estilo foto*/

/* .contenido2, .contenido3{



} */

/* .foto_index1, .foto_index2{

  width: 100%;
  display:grid;
  gap: 1em;
 
  
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;


} */

/* .foto_index1--modified, .foto_index2--modified { 

  

  

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #fff;
  width: 90%;
  max-width: 400px;
  border-radius: 1em; /*los bordes redondeados*/
  /* padding: 3.5em 2em 3.5em 2em;

} */


/* para darle formato al texto en el centro */

.body_title{
  
  
  width: 100%;
  max-width: 200px;
  margin-left: 10px;
  /* margin-right: auto; */
}



/*----------comineza el footer -------- */

/* .footer{
  width:100%;
  margin-top: 16px;
  border-top: 3px solid #330867;
  margin-right: auto;
  background-color: #330867;
 
  
} */

/* .group1{
  width:100%;
  max-width: 1200;
  margin: auto;
  display: grid;
  
  grid-template-columns: 1;
  justify-content: center;
  grid-gap: 30px;

} */

/* .footer_title{
  margin-bottom: 20px;
  text-align: center;
  /* width: 100vh; 

} */

/* .footer_iconos .footer_title{
  width: 100%;
  max-width: 1200px;
  margin:auto;
  display: grid;
  padding: 20px 0px;
} */



/* para mantener un tamaño equitativo de los iconos del footer */
/* .footer_iconos {

 display: grid;

grid-template-columns: repeat(5, 1fr);
padding-left: 30%;
padding-right: 30%;
margin-left: auto;
margin-right: auto;  


 
}*/


.footer_iconos a{
 
   display: inline-block;
  
  line-height: 32px;
  
  margin-right: 5px;
  /* text-align: center;  */
  transition: all 300ms ease;


  
}

/* .footer_iconos img{

} */


/* tamaño de los iconos del fototer y
 de las redes sociales de contactos */
.footer_iconos a img, .redes_sociales img {
  
  width: 32px;
  height: 32px;

  

}

/* modifica el h4 del header del footer */

  
  

/* modificacion para el footer del footer */

/* .footer_copyright {

  /* width: 100vh; */
  /* text-align: center;
  border-bottom: 3px solid #330867; */
  /* background-color: #330867; */
  /* margin-bottom: 1em; 

  
  
} */

/* *****inicio de la galeria de fotos****** */

.title_galery{
  
  color:#fff;
  /* background-color: dark; */
  font-weight: 700;
  /* text-align: center; */
  padding: 10px 0 10px 0;
  margin: 1em 0 1em 0;
  /* text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue; */

}
/* para trazar un a linea */
.linea{
  background-color: #550b51;
  height: 5px;
  width: 100%;
  display: block;
}

.galery_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
  

  /* grid-template-columns: repeat(4, 1fr); */

}

.galery_grid img{

  width: 100%;
  vertical-align: top;
  height: 300%;
  object-fit: cover;
  transition: transform 0.5s;
  margin: 10px 20px 0 0;
  box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0,0,0,0,19);
  
  width:350px;

}

.galery_grid > a{
  display: block;
  position: relative;
  overflow:hidden;
  box-shadow: 0 0 6xp rgba(0,0,0,.5);

}


.galery_grid a:hover img{
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);

}

.ligth-box{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  transition: transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}


.ligth-box img{
  width: 75vw;
  max-height: 70vh;
}

.ligth-box:target{
  transform: scale(1);
}

.close{
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background:#262463;
  color: #fff;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%

}

.next{
  display: block;
  background: #262463;
  color: #fff;
  height:30 px;
  width:30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}

/* inicio de formato a las noticias de la seccion novedades */

/* .conten_noti1, .conten_noti2, .conten_noti3{
  height:410px;
  margin-top:20px;
  margin-bottom: 60px;
  grid-gap: 10px;
}

.noti1, .noti2, .noti3{

  width: 100%;
max-width: 700px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
text-align: justify;
height: 100%;

background-color: #262463;
padding: 1rem;
border-radius: 2.5rem;

}

.noti1 h3, .noti2 h3, .noti3 h3{
  margin: auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom:20px;
  font-size:40px;
  font-weight: 500;
  color: #262463;
  background-color: white;
}

.noti1 img, .noti2 img, .noti3 img{
  width:100%;
  max-width: 200px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
} */

.noti1:hover, .noti2:hover, .noti3:hover{
  transform: rotate(10deg)
  scale(1.3);
  transition: transform 0.5s;
}

/*
  .noti1 p, .noti2 p, .noti3 p{
    font: weight 300px;
    font-size:16px;
  margin-top: 20px;
  width:90%;
  } */


/*inicio de formato de biografía y academía*/

.section_conten{
  /* para separar el section del header */
  margin-top: 40px;
}

/* .foto_biografia h2, .bio_academia h2 {
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom:20px;
  font-size:40px;
  font-weight: 700;
  color: #262463;
  background-color: white;



}

.foto_biografia, .bio_academia{
width: 100%;
max-width: 700px;
margin: auto;
text-align: justify;

background-color: #262463;
padding: 1rem;
border-radius: 2.5rem;
}


.foto_biografia img  {
  max-width: 200px;
  width:100%;
  float: left;
  shape-outside: url(/assets/images/profe_gitana.png);
  shape-image-threshold: 0.5;
  shape-margin: 20px;

  
  
}

.bio_academia img{
  width:100%;
  max-width: 200px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
 
}

.foto_biografia p, .bio_academia p{
  font: weight 300px;
  margin-top: 20px;
  width:90%;
}
 */



/* inicio de form de contacto - mapa - redes sociales*/

.form, .mapa, .redes_sociales {
  font-family: "Montserrat", sans-serif;
  /* background-color: #fff; */
  width: 90%;
  max-width: 400px;
  border-radius: 1em; /*los bordes redondeados*/
  padding: 3.5em 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;

}


.form_container, .redes_sociales, .mapa_container{
  width: 100%;
  display:flex;
  gap: 1em;
  flex-wrap: wrap;
  
  flex-direction: column;
  justify-content: center;
}

/* titulos de los 3 recuadros de contacto */
.form_title, .mapa_title, .redes_sociales h2{
  padding: 0.5em 1em;
  /* background-color:#262463; */
  /* text-align: center; */
  color:white;
}



.form_input{
   font-family: inherit; /*para que herede la fuente los inputs*/
   padding: 0.8em 1em; /*padding arriba y a los lados*/
   outline: none; /*no se va a remarcar*/
   border: none; /*saco el border*/
   border:1px solid #bbb0bb;
   border-radius: 0.2em;
} 

.form_input--message{
  resize: none; /*para que los usuarios no puedan redimensionar */
  padding: 1.8em 1em; /*agrando el textarea */
  margin-bottom: 5em; /*separado del submit*/
}

.form_cta{ 
  font-family: inherit; /*para que herede la fuente el submit*/
  font-size: 1rem; 
  color: white;
  /* background-color: #262463; */
  border: none;
   font-weight: 700;
   padding: 1em 0;
   border-radius: 1.2em;
   cursor: pointer;

}


@media(max-width: 576px){ /*medida de 576px fold */

/* cambio en el banner */
  /* .logoHeader__banner{
    max-width: 576px;
    width: 100%;
    display:block;
    margin:auto;
  } */
  .logo_nav{
    max-width: 14%;
  }
/* cambio en el slider */
  /* #sliderHeader > ul.slider li img{
    max-width: 325px;
    width: 100%;

    height: 250px;
  }

  .img_sli1, .img_sli2, .img_sli3{
    max-width: 325px;
    width: 100%;

    height: 250px;
  }

  #sliderHeader > ul.slider{
    
    max-width: 325px;
    width: 100%;
    height: 250px;
  }

  #sliderHeader{
    
    max-width: 325px;
    width: 100%;
    height: 250;
    padding: 30px;
    box-sizing: border-box;
  } */

  /*foto index */
  /* .foto_index1--modified, .foto_index2--modified {
    max-width: 250px;
    padding: 2em 1em 4em 1em;
    margin-left: auto;
    margin-right: auto;
  } */
/* frase en el medio dle index */
  /* .body_title{
  
    width: 100%;
    max-width: 250px;
    text-align: center;
   
    margin-left: auto;
    margin-right: auto;
  } */

/* cambio de la pagina novedades  */
  .conten_noti1, .conten_noti2, .conten_noti3{
    height:410px;
    margin-top:20px;
    margin-bottom: 60px;
    grid-gap: 10px;
  }
  
  .noti1, .noti2, .noti3{
  
    width: 100%;
  max-width: 350px;
 
  margin-bottom: 30px;
  text-align: justify;
  height: 100%;
  
 
  border-radius: 1rem;
  
  
  }
  
  .noti1 h3, .noti2 h3, .noti3 h3{
   
    
    margin-top: 30px;
    
    font-size:30px;
    
    
  }
  
  .noti1 img, .noti2 img, .noti3 img{
    
    max-width: 180px;
    
  }

  /* .noti1 img:hover, .noti2 img:hover, .noti3 img:hover{


  } */

    .noti1 p, .noti2 p, .noti3 p{
      
      font-size:12px;
    
    }
  
/* cambios de la pagina biografia y academia */


.foto_biografia h2, .bio_academia h2 {
 
  
  margin-bottom:20px;
  font-size:30px;
  font-weight: 700;
 
}

.foto_biografia, .bio_academia{

max-width: 350px;
border-radius: 1rem;
}


.foto_biografia img  {
  max-width: 180px;
 
  
  
}

.bio_academia img{
  
  max-width: 180px;
  ;
 
}

.foto_biografia p, .bio_academia p{
  font-size:12;
 
}
 /* inicio para cambiar tamaño de contacto */

 .form, .mapa, .redes_sociales {
  
  
  max-width: 350px;
  border-radius: 1em; /*los bordes redondeados*/
  padding: 2.5em .5em;
 
  margin-top: 20px;
  margin-bottom: 20px;

}





.form_input{
   font-family: inherit; /*para que herede la fuente los inputs*/
   padding: 0.8em 1em; /*padding arriba y a los lados*/
   outline: none; /*no se va a remarcar*/
   border: none; /*saco el border*/
   border:1px solid #bbb0bb;
   border-radius: 0.2em;
} 

.form_input--message{
  
  margin-bottom: 4em; /*separado del submit*/
}




  /* forma para ocultar los links 
  .btn-reset{
    color:white;
    border-radius: 50%;
    background-color: gray;
  }

   .btn_menu{
      display: inline-flex;
    }
     .btn-close:active{
      transform: scale(.9);
    } */

   
   
/* .menu_items {
  position: fixed;
  background-color: gray;
  width: 100%;
  height: 100vh;
  top: 259px; */
  /* left: 0; */
  /* left:100%;
  flex-direction: column;
  text-align: center;
  transition: all 0.5;
  z-index: 2;
  transform: scale(0);

} */

  
  


/* .menu_items li{
  display:block;
}


 
 
  
  .menu_items li {
    
    text-decoration:none;
    font-size: 2vw;
    
    color:#fff;
  } */
  
  /* .menu_items li:hover {
  
    background: none;
  } */
  
  .navbar-nav li a:hover{
    color: red;
    background: none;
  }
  
  li.active_label{
    background-color: #71b896;
    transition: .4s;
  }

  .group1{
    max-width: 90%;
    margin-left:20px;
  }


} /*cierre del media query 576Px */


  
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  









  } /* cierre de media 768px */

  /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  

} /* cierre de media 992px */








